<!-- <div class="container" >
  <mat-form-field>
    <input required class="key" matInput [formControl]="key" placeholder="Enter the key to serach" name="key" id="key">
  </mat-form-field>
  <button (click)="performSearch()" mat-button color="primary">Search</button>
</div> -->

<div *ngIf="isDataLoaded">

<ngx-masonry [useImagesLoaded]="true">
  <app-gif [gif]="gif" ngxMasonryItem class="masonry-item" *ngFor="let gif of gifs"></app-gif>
  <!-- <div ngxMasonryItem class="masonry-item" *ngFor="let gi of gifs">
    <mat-card class="cards" *ngIf="gi">
      <img mat-card-image src={{gi?.images.original.url}} alt="">

      <mat-card-content>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="mat-btn" (click)=addToBookmark(gi.id)><i class="fa fa-bookmark" [ngClass]="{'bookmarked' : gi.isBookmarked}"
            aria-hidden="true"></i></button>
        <button mat-button class="mat-btn" (click)=addToFavourite(gi.id)><i class="fa fa-heart"
            aria-hidden="true"></i></button>

      </mat-card-actions>
    </mat-card>
  </div> -->
</ngx-masonry>
</div>